/* Menu*/
.slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #313131;
    z-index: 99999;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.slide-menu .logo {
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.slide-menu .logo .logo-brand span {
    background: linear-gradient(to bottom, #fa9b1b 7%, #dca52e 93%);
    -webkit-background-clip: text;
    color: transparent;
}
.slide-menu .logo .logo-brand {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}


.slide-menu .menu-list li {
    border-top: 1px solid #2a2a2b;
    border-bottom: 1px solid #3a3838;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
div {
    display: block;
}
/* social media*/

.slide-menu .social-media {
    position: relative;
    top: -10px;
    padding: 26px 0;
    text-align: center;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, .06);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.list-unstyled {
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.slide-menu .social-media li a {
    background: transparent;
    color: #9a9b9c;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 3px;
    border: 1px solid #9a9b9c;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}
.slide-menu .menu-list li a {
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    padding-left: 35px;
    font-size: 14px;
    color: #9a9b9c;
    font-weight: 600;
    letter-spacing: .7px;
    text-transform: uppercase;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
}
a:-webkit-any-link {
    cursor: pointer;
}

.slide-menu .social-media li {
    display: inline-block;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    min-height: 100%;
}
/* Home*/
.home {
    background: url(../Resource/1.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.home .intro h4 {
    color: rgb(38, 184, 62);
    font-size: 34px;    
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.home .intro h3 {
    color: rgb(96, 17, 243);
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3, h4, h5, h6 {
    margin-left: 300px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #313131;
}
